

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}
.foot_content{
    width: 100%;
    height: 300px;
    color: #bcb8b3;
    background-color: whitesmoke
}
.foot_clumn{
    width: 80%;
    min-width: 1000px;
    overflow: hidden;
    height: 300px;
    margin: 0 auto;
}
.foot_nav{
    width: 300px;
    height: 200px;
    margin-top:20px;
    display: block;
    float: left;
}
.foot_nav h6{
    color: black;
    font: 14px "Minion Regular",Times,"Times New Roman",serif;
}
.foot_nav ul{
    list-style: none;
    display: block;
    margin-left: -40px;
}
.foot_nav ul li{
    margin-top: 15px;
    display: list-item;
}
.foot_nav ul li a{
    letter-spacing: .02em;
    text-decoration: none;
    cursor: pointer;
    color: #9f9c9c
}